.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 48px;
  overflow: hidden;
}

.profile {
  flex-basis: 25%;
  width: 25%;
  position: relative;
}

.repos--container{
    height: 100%;
    overflow: scroll;
    width: 100%;
    padding-bottom: 48px;
}